
.container{
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.container2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.sky-image{
  width: 350px;
  height: auto;
  filter: grayscale(100%) blur(5px);
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
}

.sky-image:hover{
  filter: grayscale(100%) blur(0px);
}

.sky-container {
    position: absolute;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.aqi_container{
  position: absolute;
  top: 5%;
  left: 2%;
  width: 80%;
  height:10%;
}

.aqi{
  position: absolute;
  left: 0;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  display: block;
}

.aqi2{
  position: absolute;
  left: 0;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  display: none;
}

.aqi:hover{
  transform: scale(1.05);
}

.world{
  position: absolute;
  top: 55%;
  left: 19%;
  font-family: 'Open Sans', cursive;
  font-weight: 300;
  font-size: 30px;
  display: none;
  text-decoration: none;
  color: black;
}

.hl{
  position: absolute;
  top: 40%;
  left: 30%;
  border: 1px solid black;
  width: 610px;
}

.circle{
  position: absolute;
  top: 18%;
  left: 28%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
}

.aqi_50{
  position: absolute;
  top: 70%;
  left: 32%;
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

.aqi_50:hover{
  transform: scale(1.2);
}

.aqi_100{
  position: absolute;
  top: 70%;
  left: 47%;
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

.aqi_100:hover{
  transform: scale(1.2);
}

.aqi_200{
  position: absolute;
  top: 70%;
  left: 62%;
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

.aqi_200:hover{
  transform: scale(1.2);
}

.aqi_300{
  position: absolute;
  top: 70%;
  left: 77%;
  font-family: 'Bangers', cursive;
  font-size: 30px;
}

.aqi_300:hover{
  transform: scale(1.2);
}

.reset{
  color: black;
  position: absolute;
  top: 20%;
  right: 12%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border-top: solid 3px currentColor;
  border-bottom: solid 3px currentColor;
  border-left: solid 3px transparent;
  border-right: solid 3px currentColor;
}

.reset:before{
  content: '';
  position: absolute;
  left: 1px;
  top: 11px;
  width: 5px;
  height: 5px;
  border-top: solid 3px currentColor;
  border-left: solid 3px currentColor;
  -webkit-transform: rotate(-22.5deg);
          transform: rotate(-22.5deg);
}

.reset_text{
  position: absolute;
  top: 20%;
  right: 7.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.reset_text:hover{
  transform: scale(1.2);
}

.newsky_container{
  position: absolute;
  bottom: 5%;
  right: 3%;
  width: 12%;
  height: 10%;
  background-color: white;
  border: 3px solid black;
}

.newsky_container:hover{
  background-color: #D9F0F9;
}

.newsky{
  position: absolute;
  top: 12%;
  left: 7%;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  text-decoration: none;
  color: black;
}

.sky-description{
  position: absolute;
  top: -8%;
  left: 0%;
  font-family: 'Bangers', cursive;
  font-size: 200px;
  line-height: 190px;
  text-align: center;
  display: none;
  z-index: -2;
}

.sky-date{
  position: absolute;
  top: 6.5%;
  right: 3%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  display: none;
}

.question_container{
  position: absolute;
  bottom: 6%;
  right: 16.5%;
  width: 45px;
  height: 45px;
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
}

.question{
  position: absolute;
  top: -15%;
  left: 30%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 42px;
  text-decoration: none;
  color: black;
}

.question_container:hover{
  background-color: #D9F0F9;
  transform: scale(1.1);
}

.location{
  position: absolute;
  top: 6.5%;
  right: 11%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
}

@media screen and (max-width: 1400px) {

  .aqi{
    left: 0;
    font-size: 50px;
  }

  .world{
    top: 55%;
    left: 19%;
    font-size: 30px;
  }

  .hl{
    top: 40%;
    left: 32%;
    width: 610px;
  }

  .circle{
    top: 18%;
    left: 30%;
    width: 30px;
    height: 30px;
  }

  .aqi_50{
    top: 70%;
    left: 37%;
    font-size: 30px;
  }

  .aqi_100{
    top: 70%;
    left: 52%;
    font-size: 30px;
  }

  .aqi_200{
    top: 70%;
    left: 67%;
    font-size: 30px;
}

  .aqi_300{
    top: 70%;
    left: 82%;
    font-size: 30px;
  }

  .reset{
    top: 20%;
    right: 5%;
  }

  .reset_text{
    top: 20%;
    right: 0%;
    font-size: 15px;
  }

  .sky-description{
    top: -8%;
    left: -3%;
    font-size: 200px;
    line-height: 190px;
  }

  .sky-date{
    top: 10%;
    right: 3%;
    font-size: 20px;
  }

  .newsky{
    top: 15%;
    left: 5%;
    font-size: 48px;
  }

  .question{
    top: -15%;
    left: 30%;
    font-size: 42px;
  }

  .location{
    top: 6.5%;
    right: 3%;
    font-size: 20px;
  }

}

@media screen and (max-width: 1300px) {

  .aqi{
    left: 0;
    font-size: 45px;
  }

  .world{
    top: 55%;
    left: 22%;
    font-size: 25px;
  }

  .hl{
    top: 40%;
    left: 32%;
    width: 560px;
  }

  .circle{
    top: 18%;
    left: 31%;
    width: 30px;
    height: 30px;
  }

  .aqi_50{
    top: 70%;
    left: 39%;
    font-size: 30px;
  }

  .aqi_100{
    top: 70%;
    left: 54%;
    font-size: 30px;
  }

  .aqi_200{
    top: 70%;
    left: 69%;
    font-size: 30px;
}

  .aqi_300{
    top: 70%;
    left: 84%;
    font-size: 30px;
  }

  .reset{
    top: 20%;
    right: 5%;
  }

  .reset_text{
    top: 20%;
    right: -1%;
    font-size: 15px;
  }

  .sky-description{
    top: -8%;
    left: -1%;
    font-size: 180px;
    line-height: 170px;
  }

  .sky-date{
    top: 10%;
    right: 3%;
    font-size: 20px;
  }

  .newsky{
    top: 16%;
    left: 5%;
    font-size: 43px;
  }

  .question{
    top: -15%;
    left: 30%;
    font-size: 42px;
  }

  .location{
    top: 6.5%;
    right: 3%;
    font-size: 20px;
  }

}

@media screen and (max-width: 1200px) {

  .aqi{
    left: 0;
    font-size: 45px;
  }

  .world{
    top: 55%;
    left: 24%;
    font-size: 25px;
  }

  .hl{
    top: 40%;
    left: 33%;
    width: 470px;
  }

  .circle{
    top: 18%;
    left: 33%;
    width: 30px;
    height: 30px;
  }

  .aqi_50{
    top: 70%;
    left: 40%;
    font-size: 25px;
  }

  .aqi_100{
    top: 70%;
    left: 52%;
    font-size: 25px;
  }

  .aqi_200{
    top: 70%;
    left: 66%;
    font-size: 25px;
}

  .aqi_300{
    top: 70%;
    left: 80%;
    font-size: 25px;
  }

  .reset{
    top: 20%;
    right: 8%;
  }

  .reset_text{
    top: 20%;
    right: 2%;
    font-size: 15px;
  }

  .sky-description{
    top: -8%;
    left: -1%;
    font-size: 170px;
    line-height: 170px;
  }

  .sky-date{
    top: 10%;
    right: 3%;
    font-size: 20px;
  }

  .newsky_container{
    bottom: 5%;
    right: 3%;
    width: 12%;
    height: 8%;
    border: 3px solid black;
  }

  .newsky{
    top: 15%;
    left: 4%;
    font-size: 40px;
  }

  .question_container{
    bottom: 5.6%;
    right: 16.5%;
    width: 45px;
    height: 45px;
    border: 3px solid black;
  }

  .question{
    top: -15%;
    left: 30%;
    font-size: 42px;
  }

  .location{
    top: 6.5%;
    right: 3%;
    font-size: 20px;
  }

}

@media screen and (max-width: 1100px) {

  .aqi{
    left: 0;
    font-size: 40px;
  }

  .world{
    top: 55%;
    left: 22%;
    font-size: 25px;
  }

  .hl{
    top: 37%;
    left: 33%;
    width: 400px;
  }

  .circle{
    top: 18%;
    left: 33%;
    width: 25px;
    height: 25px;
  }

  .aqi_50{
    top: 70%;
    left: 38%;
    font-size: 25px;
  }

  .aqi_100{
    top: 70%;
    left: 50%;
    font-size: 25px;
  }

  .aqi_200{
    top: 70%;
    left: 64%;
    font-size: 25px;
}

  .aqi_300{
    top: 70%;
    left: 78%;
    font-size: 25px;
  }

  .reset{
    top: 20%;
    right: 9%;
  }

  .reset_text{
    top: 20%;
    right: 3%;
    font-size: 15px;
  }

  .sky-description{
    top: -8%;
    left: -1%;
    font-size: 170px;
    line-height: 170px;
  }

  .sky-date{
    top: 10%;
    right: 4%;
    font-size: 18px;
  }

  .newsky_container{
    bottom: 5%;
    right: 3%;
    width: 12%;
    height: 7%;
    border: 3px solid black;
  }

  .newsky{
    top: 14%;
    left: 4%;
    font-size: 36px;
  }

  .question_container{
    bottom: 5.6%;
    right: 16.5%;
    width: 38px;
    height: 38px;
    border: 3px solid black;
  }

  .question{
    top: -12%;
    left: 30%;
    font-size: 35px;
  }

  .location{
    top: 6.5%;
    right: 4%;
    font-size: 18px;
  }

}

@media screen and (max-width: 1200px) {

  .aqi{
    left: 0;
    font-size: 45px;
  }

  .world{
    top: 55%;
    left: 24%;
    font-size: 25px;
  }

  .hl{
    top: 40%;
    left: 33%;
    width: 470px;
  }

  .circle{
    top: 18%;
    left: 33%;
    width: 30px;
    height: 30px;
  }

  .aqi_50{
    top: 70%;
    left: 40%;
    font-size: 25px;
  }

  .aqi_100{
    top: 70%;
    left: 52%;
    font-size: 25px;
  }

  .aqi_200{
    top: 70%;
    left: 66%;
    font-size: 25px;
}

  .aqi_300{
    top: 70%;
    left: 80%;
    font-size: 25px;
  }

  .reset{
    top: 20%;
    right: 8%;
  }

  .reset_text{
    top: 20%;
    right: 2%;
    font-size: 15px;
  }

  .sky-description{
    top: -8%;
    left: -1%;
    font-size: 170px;
    line-height: 170px;
  }

  .sky-date{
    top: 10%;
    right: 3%;
    font-size: 20px;
  }

  .newsky_container{
    bottom: 5%;
    right: 3%;
    width: 12%;
    height: 8%;
    border: 3px solid black;
  }

  .newsky{
    top: 15%;
    left: 4%;
    font-size: 40px;
  }

  .question_container{
    bottom: 5.6%;
    right: 16.5%;
    width: 45px;
    height: 45px;
    border: 3px solid black;
  }

  .question{
    top: -15%;
    left: 30%;
    font-size: 42px;
  }

  .location{
    top: 6.5%;
    right: 3%;
    font-size: 20px;
  }

}

@media screen and (max-width: 1100px) {

  .aqi{
    left: 0;
    font-size: 40px;
  }

  .world{
    top: 55%;
    left: 22%;
    font-size: 25px;
  }

  .hl{
    top: 37%;
    left: 35%;
    width: 400px;
  }

  .circle{
    top: 18%;
    left: 33%;
    width: 25px;
    height: 25px;
  }

  .aqi_50{
    top: 70%;
    left: 38%;
    font-size: 25px;
  }

  .aqi_100{
    top: 70%;
    left: 50%;
    font-size: 25px;
  }

  .aqi_200{
    top: 70%;
    left: 64%;
    font-size: 25px;
}

  .aqi_300{
    top: 70%;
    left: 78%;
    font-size: 25px;
  }

  .reset{
    top: 20%;
    right: 9%;
  }

  .reset_text{
    top: 20%;
    right: 3%;
    font-size: 15px;
  }

  .sky-description{
    top: -8%;
    left: -1%;
    font-size: 170px;
    line-height: 170px;
  }

  .sky-date{
    top: 10%;
    right: 4%;
    font-size: 18px;
  }

  .newsky_container{
    bottom: 5%;
    right: 3%;
    width: 12%;
    height: 7%;
    border: 3px solid black;
  }

  .newsky{
    top: 14%;
    left: 4%;
    font-size: 36px;
  }

  .question_container{
    bottom: 5.6%;
    right: 16.5%;
    width: 38px;
    height: 38px;
    border: 3px solid black;
  }

  .question{
    top: -12%;
    left: 30%;
    font-size: 35px;
  }

  .location{
    top: 6.5%;
    right: 4%;
    font-size: 18px;
  }

}

@media screen and (max-width: 900px) {

  .aqi{
    left: 0;
    font-size: 40px;
  }

  .world{
    top: 48%;
    left: 26%;
    font-size: 25px;
  }

  .hl{
    top: 37%;
    left: 40%;
    width: 400px;
  }

  .circle{
    top: 18%;
    left: 40%;
    width: 25px;
    height: 25px;
  }

  .aqi_50{
    top: 68%;
    left: 48%;
    font-size: 25px;
  }

  .aqi_100{
    top: 68%;
    left: 62%;
    font-size: 25px;
  }

  .aqi_200{
    top: 68%;
    left: 77%;
    font-size: 25px;
}

  .aqi_300{
    top: 68%;
    left: 92%;
    font-size: 25px;
  }

  .reset{
    top: 20%;
    right: -10%;
  }

  .reset_text{
    top: 20%;
    right: -18%;
    font-size: 15px;
  }

  .sky-description{
    top: -8%;
    left: -1%;
    font-size: 170px;
    line-height: 170px;
  }

  .sky-date{
    top: 90%;
    right: 65%;
    font-size: 18px;
    z-index: 5;
  }

  .newsky_container{
    bottom: 5%;
    right: 3%;
    width: 15%;
    height: 7%;
    border: 3px solid black;
  }

  .newsky{
    top: 14%;
    left: 8%;
    font-size: 36px;
  }

  .question_container{
    bottom: 5.6%;
    right: 20%;
    width: 38px;
    height: 38px;
    border: 3px solid black;
  }

  .question{
    top: -12%;
    left: 30%;
    font-size: 35px;
  }

  .location{
    top: 90%;
    right: 80%;
    font-size: 18px;
  }

}

@media screen and (max-width: 600px) {

  .aqi{
    left: 0;
    font-size: 40px;
  }

  .world{
    top: 48%;
    left: 26%;
    font-size: 25px;
  }

  .hl{
    top: 80%;
    left: 40%;
    width: 400px;
  }

  .circle{
    top: 65%;
    left: 40%;
    width: 25px;
    height: 25px;
  }

  .aqi_50{
    top: 120%;
    left: 48%;
    font-size: 25px;
  }

  .aqi_100{
    top: 120%;
    left: 62%;
    font-size: 25px;
  }

  .aqi_200{
    top: 120%;
    left: 77%;
    font-size: 25px;
}

  .aqi_300{
    top: 120%;
    left: 92%;
    font-size: 25px;
  }

  .reset{
    top: 20%;
    right: -5%;
  }

  .reset_text{
    top: 20%;
    right: -18%;
    font-size: 15px;
  }

  .sky-description{
    top: -8%;
    left: -1%;
    font-size: 170px;
    line-height: 160px;
  }

  .sky-date{
    top: 90%;
    right: 65%;
    font-size: 18px;
    z-index: 5;
  }

  .newsky_container{
    bottom: 5%;
    right: 3%;
    width: 25%;
    height: 7%;
    border: 3px solid black;
  }

  .newsky{
    top: 14%;
    left: 8%;
    font-size: 36px;
  }

  .question_container{
    bottom: 5.6%;
    right: 32%;
    width: 38px;
    height: 38px;
    border: 3px solid black;
  }

  .question{
    top: -12%;
    left: 30%;
    font-size: 35px;
  }

  .location{
    top: 90%;
    right: 70%;
    font-size: 18px;
  }

}

@media screen and (max-width: 400px) {

.container{
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.container2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}

.sky-image{
  width: 200px;
  height: auto;
  filter: grayscale(100%) blur(0px);
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.sky-container {
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.aqi_container{
  position: absolute;
  top: 5%;
  left: 2%;
  width: 80%;
  height:10%;
}

.aqi{
  display: none;
}

.aqi2{
  top: 15%;
  left: 6%;
  font-size: 40px;
  display: block;
}

.world{
  position: absolute;
  top: 58%;
  left: 10%;
  font-family: 'Open Sans', cursive;
  font-weight: 300;
  font-size: 18px;
  display: none;
  text-decoration: none;
  color: black;
}

.hl{
  position: absolute;
  top: 40%;
  left: 30%;
  border: 1px solid black;
  width: 200px;
}

.circle{
  position: absolute;
  top: 18%;
  left: 28%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
}

.aqi_50{
  position: absolute;
  top: 70%;
  left: 32%;
  font-family: 'Bangers', cursive;
  font-size: 28px;
}

.aqi_50:hover{
  transform: scale(1.2);
}

.aqi_100{
  position: absolute;
  top: 70%;
  left: 47%;
  font-family: 'Bangers', cursive;
  font-size: 28px;
}

.aqi_100:hover{
  transform: scale(1.2);
}

.aqi_200{
  position: absolute;
  top: 70%;
  left: 62%;
  font-family: 'Bangers', cursive;
  font-size: 28px;
}

.aqi_300{
  position: absolute;
  top: 70%;
  left: 77%;
  font-family: 'Bangers', cursive;
  font-size: 28px;
}

.reset{
  top: 28%;
  right: -2%;
}

.reset_text{
  position: absolute;
  top: 28%;
  right: -18%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.newsky_container{
  position: absolute;
  bottom: 5%;
  right: 3%;
  width: 35%;
  height: 5%;
  background-color: white;
  border: 3px solid black;
}

.newsky{
  position: absolute;
  top: -10%;
  left: 7%;
  font-family: 'Bangers', cursive;
  font-size: 38px;
  text-decoration: none;
  color: black;
}

.sky-description{
  position: absolute;
  top: -8%;
  left: -5%;
  font-family: 'Bangers', cursive;
  font-size: 150px;
  line-height: 130px;
  text-align: center;
  display: none;
  z-index: -2;
}

.sky-date{
  position: absolute;
  top: 1%;
  right: 30%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  display: none;
}

.question_container{
  position: absolute;
  bottom: 4.5%;
  right: 43%;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 3px solid black;
  border-radius: 50%;
}

.question{
  position: absolute;
  top: -15%;
  left: 30%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 38px;
  text-decoration: none;
  color: black;
}

.location{
  position: absolute;
  top: 1%;
  right: 50%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: underline;
}

}
